@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <p>Raw data collected from<a href="https://www.football-data.co.uk/" target="_blank">football-data.co.uk</a></p>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
